.signup-button > button:disabled {
    cursor: text;
    background-color: white;
    color: gray;
}

.signup-button > button {
    border-radius: 0px;
    width: 280px;
    margin-right: 0px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    background-color: #FF385C;
    color: white;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
