.delete-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 300px;
}

.delete-popup > h1 {
    margin-bottom: 0%;
}

.delete-popup > button {
    border-radius: 0%;
    /* gap: 10px; */
    /* width: fit-content; */
}

.delete-button {
    background-color: #FF385C;
    color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    margin-bottom: 10px;
}

.cancel-delete {
    background-color: darkgray;
    color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    margin-bottom: 10px;
}
