.review-container {
    font-family: 'Circular Std', Arial, sans-serif;
    color: #484848;
}

.review-star {
    padding-top: 10px;
    font-family: 'Circular Std', Arial, sans-serif;
}

.post-review-button  > button{
    border-radius: 0%;
    color: white;
    background-color: #FF385C;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    margin-top: 5px;
    font-size: 12px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}



.reviews-details > button {
    border-radius: 0%;
    background-color: #FF385C;
    color: white;
    font-size: 14px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    border: none;
    border-radius: 5px;
    padding: 3px 6px;
    margin-bottom: 20px;
}

#reviews-section {
    padding-bottom: 300px;
}

.review-firstname {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    color: #484848;
    padding-bottom: -10px;
}

.review-date {
    font-size: 15px;
    color: darkgray;
}

.review-content {
    width: 400px;
    color: #484848;
    width: 700px;
}
