img {
    height: 300px;
    row-gap: 5px
}


#single-spot-container {
    /* border: 5px solid blue; */
    max-width: 1000px;
    /* text-align: center; */
    margin: 0px auto;
    font-family: 'Circular Std', Arial, sans-serif;
}

.images-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    /* border: 2px solid green; */
    padding-bottom: 10px;
}

.big-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small-images > img {
    width: calc(50% - 5px);
    object-fit: cover;
}

.single-spot-detail-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
}

.bottom-left {
    font-family: 'Circular Std', Arial, sans-serif;
    color: #484848;

}

.rs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.bottom-right {
    /* border: 2px solid black;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px; */

    font-family: 'Circular Std', Arial, sans-serif;
    color: #484848;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    /* border: 2px solid red; */
}

.bottom-right button {
    width: 270px;
    border-radius: 0%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    background-color: #FF385C;
    color: white;
    border: none;
    border-radius: 6px;
}

.spot-host {
    width: 300px;
}

.price-tag {
    /* font-size: 15px;
    padding-top: 6px; */

    display: flex;
    align-items: baseline;
    font-size: 24px;
}

.bold-price {
    font-weight: bold;
    font-size: 20px;
    padding-right: 7px;
}

#reviews-section > .review-star {
    /* font-size: 20px;
    font-weight: bold; */

    display: flex;
    align-items: center;
    gap: 5px;
}

.spot-description {
    width: 600px;
}

/* reverse section*/
.reserve-button {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.date-pickers-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.date-picker {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.date-picker label {
    font-size: 14px;
    /* color: #4A4A4A; */
    margin-bottom: 5px;
}

.date-picker input {
    padding: 10px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.reverse-btn {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #FF385C;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.2s;
    /* border: 2px solid red; */
}

.reverse-btn:hover {
    background-color: #FF3B4A;
}
