#create-spot-form-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;

  /* width: 500px; */
}

#create-spot-form-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 0px;
  /* width: 500px; */
  /* border: 1px solid lightgray; */
  padding: 0px 80px;
}

#create-spot-form-container > form > div {
  padding-bottom: 10px;
}


.title-form {
  text-align: left;
  width: 300px;
  padding-bottom: 0px;
  height: 100px;
  /* display: flex;
  flex-direction: column; */
  /* align-items: ; */
}

h3, p {
  text-align: left;
  color: black;
}

.title-form > p {
  color: black;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}

.description-box, .price-section {
  border-bottom: 2px solid lightgray;
  border-top: 2px solid lightgray;
}

.urls-section {
  border-bottom: 2px solid lightgray;
  margin-bottom: 15px;
}

.urls-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description-box > textarea {
  width: 300px;
  height: 90px;
}

.create-spot-button > button {
  border-radius: 0;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  background-color: #FF385C;
  color: white;
  margin-bottom: 20px;
  font-size: 15px;
  border: 2px solid black;
}

textarea {
  background-color: #E8F0FE;
}

#side-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.city-field, .state-field {
  display: flex;
  flex-direction: column;
  width: 45%;  /* adjust as needed */
}

.city-field input, .state-field input {
  width: 100%;
}

.comma {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 10%; /* adjust as needed */
}

input {
  width: 100%;
}
