img {
    height: 300px;
}


#single-spot-container {
    /* border: 5px solid blue; */
    max-width: 1000px;
    /* text-align: center; */
    margin: 0px auto;

}

/* .spot-name-and-location {
    border: 2px solid red;
} */

.images-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    /* border: 2px solid green; */
    padding-bottom: 10px;
}

.big-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small-images > img {
    width: calc(50% - 5px);
    object-fit: cover;
}

/* .big-img, .small-images {
    border: 2px solid yellow;
    flex: 1 0 50%;
    max-width: 50%;
} */

/* .small-images {
    border: 2px solid yellow;
} */


.single-spot-detail-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
}

.bottom-right {
    border: 2px solid black;
    /* margin-left: 500px; */
    width: 300px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.bottom-right button {
    width: 270px;
    border-radius: 0%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    background-color: #FF385C;
    color: white;
    border: 2px solid black;
}

/* .bottom-left {
    width: 300px;
} */

.spot-host {
    width: 300px;
}

.price-tag {
    font-size: 15px;
    padding-top: 6px;
}

.bold-price {
    font-weight: bold;
    font-size: 20px;
}

#reviews-section > .review-star {
    font-size: 20px;
    font-weight: bold;
}

.spot-description {
    width: 600px;
}
